Yai kro please k total portal pay, jis may merchant portal bhi hay, aur admin portal bhi, krna yai hay k portal boht bhra bhra lg raha hay. 75% pay browser screen kro to phir theek lgta hay portal. 75% pay theek say content bhi zaada aarha hay nzr, aur theek say hay, usi trha 100% pay ho. taakay beautiful look day portal. merchant portal k dashboard page pay jo black part hay page open hotay hi, is pay hover pay zra si animation ho k acha lgay. merchant advice section khtm kr do please merchant portal k dashboard page say. Recent Orders section ki jga pay 'Live Orders' section ho just like dashboard page of  merchant.fulfillkro.pk website. AUG_STORE_COD hay username aur password merchant.fulfillkro.pk ka. Yai bhi kr do, jo image attach ki hay mazeed requirements ki.